@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <hr />
        <a href="/Template/phieuluong.docx">Tai file mẫu</a><br />
        <a href="/Template/result.docx">Tai file KQ</a>
    </div>
